isoDateTime, add : colon between timezone, fix 'o' flag

isoDatetime needs to have  a : in between the timezone
the o flag need to insert  : at 2 position ----->  +00:00

ref: https://www.w3.org/TR/NOTE-datetime


The document you reference does not represent the ISO standard, but merely defines a restricted set of formats that are ISO 8601 compatible. ISO 8601 allows the colon to be omitted (http://www.cl.cam.ac.uk/~mgk25/iso-time.html). So the `o` flag seems correct and should probably stay the way it is.

In some cases you do need it without the colon in between, for example see the date-time specification of RFC5322 section 3.3. A separate flag could be defined for a format with colons.

…or via https://github.com/felixge/node-dateformat/pull/56 ;)

There is no plan to change the functionality of the `o` mask.  
Instead is is planned to create a `p` mask that will have this functionality.  
This is being tracked in issue: #148